<section>
  <div class="container-fluid" style="background-color: aliceblue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 align-self-center">
          <h4 style="font-family: 'Times New Roman'">
            DÉVELOPPEMENT APPLICATION WEB ET MOBILE
          </h4>
          <p aria-setsize="15" class="-medium-m">
            L’application web est de plus en plus utilisé dans le monde
            numérique. Une application web est manipulé directement en ligne
            sans télécharger de logiciel sur l’appareil contrairement aux
            application mobiles ou logiciel qui nécessite une installation pour
            l’utilisation du logiciel. L’application web est hébergé sur un
            serveur Cloud qui permet d’accéder 24/7 de n’importe où dans le
            monde. L’avantage de l’app web, elle est développée qu’une seule
            fois et peut être utilisé dans plusieurs appareils différents
            (téléphone, Tablet, ordinateur dans différents).
          </p>
        </div>
        <div class="col-md-4">
          <img appImageSize src="assets/Projects/web%20developpement%201.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" style="background-color: aqua">
  <div class="container">
    <div class="row align-self-center">
      <div class="col-md-4">
        <img appImageSize src="assets/Projects/web%20developpement%201.png" />
      </div>
      <div class="col-md-8 text-justify align-self-center">
        <h4 style="font-family">DÉVELOPPEMENT FULL-STACK DE A À Z</h4>
        <p aria-setsize="15" class="-medium-m">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid" style="background-color: aliceblue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-justify align-self-center">
          <h4 style="font-family: 'Times New Roman'">
            DÉVELOPPEMENT FULL-STACK DE A À Z
          </h4>
          <p aria-setsize="15" class="-medium-m">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries
          </p>
        </div>
        <div class="col-md-4">
          <img appImageSize src="assets/Projects/web%20developpement%201.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" style="background-color: aqua">
  <div class="container">
    <div class="row align-self-center">
      <div class="col-md-4">
        <img appImageSize src="assets/Projects/web%20developpement%201.png" />
      </div>
      <div class="col-md-8 text-justify align-self-center">
        <h4 style="font-family">DÉVELOPPEMENT FULL-STACK DE A À Z</h4>
        <p aria-setsize="15" class="-medium-m">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries
        </p>
      </div>
    </div>
  </div>
</section>

