<!-- Image and text -->
<mdb-navbar SideClass="navbar navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img
        src="assets/navbar%20image/favicon.png"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Muthuvel
    </a>
  </mdb-navbar-brand>
</mdb-navbar>
