
<footer class="page-footer font-small indigo">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{currentYear}} Copyright
    <br>
    <a href="https://www.asokumarit.com/">ASOKUMARIT.com - Conception de site web</a>
  </div>
  <!-- Copyright -->

</footer>

