<h2 align="center">NOTRE EXPERTISE</h2>
<br />

<section class="container-fluid">
  <div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-3 bd-highlight align-self-center" style="background-color:blue"><h5 style="color: white">Front-end</h5></div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Front-end/angular.png"
              height="50"
              width="60"
              alt="Angular"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Front-end/javaScript.png"
              height="50"
              width="60"
              alt="JavaScript"
            />
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-3 bd-highlight align-self-center"style="background-color:blue" ><h5 style="color: white">Back-end</h5></div>
          <div class="p-2 bd-highlight " style="background-color:wheat">
            <img
              src="assets/serviceImage/Back-end/.Net.png"
              height="50"
              width="60"
              alt="Net"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Back-end/C%23.jpg"
              height="50"
              width="60"
              alt="C#"
            />
          </div>
            <div class="p-2 bd-highlight" style="background-color:wheat">
              <img
                src="assets/serviceImage/Back-end/ASPNet.jpg"
                height="50"
                width="60"
                alt="C#"
              />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Back-end/Java.png"
              height="50"
              width="60"
              alt="Java"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Back-end/php.png"
              height="50"
              width="60"
              alt="php"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Back-end/symfony.png"
              height="50"
              width="60"
              alt="Symfony"
            />
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-3 bd-highlight"style="background-color:blue"><h5 style="color: white">DataBase</h5></div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Database/MySQL.png"
              height="50"
              width="60"
              alt="MySQL"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Database/SQLite.png"
              height="50"
              width="60"
              alt="SQLite"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Database/mongoDB.png"
              height="50"
              width="60"
              alt="MongoDB"
            />
          </div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/Database/Firebase.jpg"
              height="50"
              width="60"
              alt="Firebase"
            />
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight" style="background-color:snow">
        <div class="d-flex flex-row bd-highlight mb-3" >
          <div class="p-3 bd-highlight"style="background-color:blue"><h5 style="color: white">Cloud</h5></div>
          <div class="p-2 bd-highlight" style="background-color:wheat">
            <img
              src="assets/serviceImage/cloud/AWS.jpg"
              height="50"
              width="60"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

