#row1 {
}
#Front-end {
  background-color: blue;
  padding: 10px 20px;
  margin: 2px;
}

#Back-end {
  background-color: blueviolet;
  padding: 10px 20px;
  margin: 2px;
}
#firstCol{
  background-color: aqua;
 padding: 10px 20px;
 margin: 2px;
}
